body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: rgb(201, 23, 23);
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }

  .winnerStyle {
    background-color: coral;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  table {
    width: 100px;
  }

  table > tr > th {
    height: 20px;
    border: 1px solid rgb(70, 65, 65);
  }

  .X{
    display: inline;

  }

  .O{
    display: inline;
    
  }

  .X>button{
    background-color: #ff6666;
    padding: 15px 30px;
    margin: 2px;
    font-size: 20px; 
     
    cursor: pointer;  
  }

  .O>button {
    background-color: #809fff;
    padding: 15px 30px;
    margin: 2px;
    font-size: 20px;
    cursor: pointer;
  }